{% for domain in item.names %}{{ domain }}{% if not loop.last %}, {% endif %}{% endfor %} {
    reverse_proxy {{ item.backend_url }} {
      transport http {
        tls
        tls_insecure_skip_verify
      }

      import defaultheaders

      {% if item.proxy_headers is defined %}
      {% for headerName, headerValue in item.proxy_headers.items() %}
      header_up {{ headerName }} {{ headerValue }}
      {% endfor %}
      {% endif %}
    }

    import webconf
}