{
    email {{ caddy_email }}
}

# Add gzip compression to requests
(webconf) {
  encode gzip
}

# Add forward headers to requests
(defaultheaders) {
    -Server
    header_up Host {host}
    header_up X-Real-IP {remote}
    header_up X-Forwarded-Port {remote_port}
    header_up X-Url-Scheme {scheme}
    header_up X-Forwarded-Host {host}
    Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
    Feature-Policy "accelerometer 'none'; ambient-light-sensor 'none'; autoplay 'none'; camera 'none'; encrypted-media 'none'; fullscreen 'self'; geolocation 'none'; gyroscope 'none'; magnetometer 'none'; microphone 'none'; midi 'none'; payment 'none'; >    Expect-CT "max-age=604800"
    X-Frame-Options DENY
    Content-Security-Policy "frame-ancestors 'none'"
}

:9982 {
	metrics
	tls /etc/caddy/ssl/{{ caddy_exporter_certificate_name }} /etc/caddy/ssl/{{ caddy_exporter_certificate_key_name }} {
	    client_auth {
	        mode require_and_verify
	        trusted_ca_cert_file /etc/caddy/ssl/client.crt
	    }
	}
}

import /etc/caddy/conf.d/*.conf
