{
    email {{ caddy_email }}
}

# Add gzip compression to requests
(webconf) {
  encode gzip
}

# Add forward headers to requests
(defaultheaders) {
    header_up Host {host}
    header_up X-Real-IP {remote}
    header_up X-Forwarded-For {remote}
    header_up X-Forwarded-Proto {scheme}
}

{{ ansible_fqdn }}:9982 {
	metrics
	tls /etc/ssl/certs/caddy_exporter.crt /etc/ssl/certs/caddy_exporter.pem {
	    client_auth {
	        mode require_and_verify
	        trusted_ca_cert_file /etc/caddy/ca.crt
	    }
	}
}

import /etc/caddy/conf.d/*.conf