{
    email {{ caddy_email }}
    servers {
		protocol {
			experimental_http3
		}
	}
}

# Add gzip compression to requests
(webconf) {
  encode gzip
}

# Add forward headers to requests
(defaultheaders) {
    -Server
    Strict-Transport-Security "max-age=31536000; includeSubDomains; preload;"
}

:9982 {
	metrics
	tls /etc/caddy/ssl/{{ caddy_exporter_certificate_name }} /etc/caddy/ssl/{{ caddy_exporter_certificate_key_name }} {
	    client_auth {
	        mode require_and_verify
	        trusted_ca_cert_file /etc/caddy/ssl/client.crt
	    }
	}
}

import /etc/caddy/conf.d/*.conf