---
pdns_dns_group: dns
pdns_domains: '{{ domains }}'
pdns_subdomains: '{{ subdomains }}'
pdns_reverse_zones: '{{ reverse_zones }}'

pdns_records:
  # unicornafk.fr
  - hostname: dns1.unicornafk.fr.
    a: 192.168.10.21
    aaaa: 2a0c:b641:02c0:110::21
    rdns: true
  - hostname: dns2.unicornafk.fr.
    a: 192.168.10.22
    aaaa: 2a0c:b641:02c0:110::22
    rdns: true
  - hostname: dhcp1.unicornafk.fr.
    a: 192.168.10.23
    aaaa: 2a0c:b641:02c0:110::23
    rdns: true
  - hostname: dhcp2.unicornafk.fr.
    a: 192.168.10.24
    aaaa: 2a0c:b641:02c0:110::24
    rdns: true
  - hostname: lb.dmz.unicornafk.fr.
    a: 192.168.10.60
    aaaa: 2a0c:b641:02c0:110::60
    rdns: false
  - hostname: ap1.unicornafk.fr.
    a: 192.168.20.51
    aaaa: 2a0c:b641:02c0:120::51
    rdns: true
  - hostname: r1.unicornafk.fr.
    a: 192.168.5.1
    aaaa: 2a0c:b641:02c0:105::1
    rdns: true
  - hostname: r2.unicornafk.fr.
    a: 192.168.5.3
    aaaa: 2a0c:b641:02c0:105::5
    rdns: true
  - hostname: rr1.unicornafk.fr.
    a: 192.168.5.13
    aaaa: 2a0c:b641:02c0:105::d
    rdns: true
  - hostname: rr2.unicornafk.fr.
    a: 192.168.5.17
    aaaa: 2a0c:b641:02c0:105::11
    rdns: true
  - hostname: rpki1.unicornafk.fr.
    a: 192.168.10.51
    aaaa: 2a0c:b641:02c0:110::51
    rdns: true
  - hostname: rpki2.unicornafk.fr.
    a: 192.168.10.52
    aaaa: 2a0c:b641:02c0:110::52
    rdns: true
  - hostname: san.unicornafk.fr.
    a: 192.168.10.53
    aaaa: 2a0c:b641:02c0:110::53
    rdns: true
  - hostname: sw1.unicornafk.fr.
    a: 192.168.40.2
    aaaa: 2a0c:b641:02c0:140::2
    rdns: true
  - hostname: sw2.unicornafk.fr.
    a: 192.168.40.3
    aaaa: 2a0c:b641:02c0:140::3
    rdns: true
  - hostname: sw3.unicornafk.fr.
    a: 192.168.40.4
    aaaa: 2a0c:b641:02c0:140::4
    rdns: true
  - hostname: vcenter.unicornafk.fr.
    a: 192.168.40.10
    rdns: true
  - hostname: server1.unicornafk.fr.
    a: 192.168.40.11
    aaaa: 2a0c:b641:02c0:140::11
    rdns: true
  - hostname: server2.unicornafk.fr.
    a: 192.168.40.12
    aaaa: 2a0c:b641:02c0:140::12
    rdns: true
  - hostname: server3.unicornafk.fr.
    a: 192.168.40.13
    aaaa: 2a0c:b641:02c0:140::13
    rdns: true
  - hostname: server4.unicornafk.fr.
    a: 192.168.40.14
    aaaa: 2a0c:b641:02c0:140::14
    rdns: true
  - hostname: pi1.unicornafk.fr.
    a: 192.168.40.32
    aaaa: 2a0c:b641:02c0:140::32
    rdns: true
  - hostname: ipmi3.unicornafk.fr.
    a: 192.168.40.53
    aaaa: 2a0c:b641:02c0:140::53
    rdns: true
  - hostname: ipmi3.unicornafk.fr.
    a: 192.168.40.54
    aaaa: 2a0c:b641:02c0:140::54
    rdns: true
  - hostname: nas.unicornafk.fr.
    a: 192.168.50.42
    aaaa: 2a0c:b641:02c0:150::42
    rdns: true
  - hostname: samsung-tv.unicornafk.fr.
    a: 192.168.50.91
    aaaa: 2a0c:b641:02c0:150::91
    rdns: true
  - hostname: nvidia-shield.unicornafk.fr.
    a: 192.168.50.92
    aaaa: 2a0c:b641:02c0:150::92
    rdns: true
  - hostname: hs110-rack1.unicornafk.fr.
    a: 192.168.50.101
    aaaa: 2a0c:b641:02c0:150::101
    rdns: true
  - hostname: hs110-rack2.unicornafk.fr.
    a: 192.168.50.102
    aaaa: 2a0c:b641:02c0:150::102
    rdns: true
  - hostname: hs110-chambre1.unicornafk.fr.
    a: 192.168.50.103
    aaaa: 2a0c:b641:02c0:150::103
    rdns: true
  - hostname: xiaomi-bulb-chambre1.unicornafk.fr.
    a: 192.168.50.111
    aaaa: 2a0c:b641:02c0:150::111
    rdns: true
  - hostname: xiaomi-vaccum.unicornafk.fr.
    a: 192.168.50.112
    aaaa: 2a0c:b641:02c0:150::112
    rdns: true
  - hostname: xiaomi-gateway.unicornafk.fr.
    a: 192.168.50.113
    aaaa: 2a0c:b641:02c0:150::113
    rdns: true
  # CNAME
  - hostname: ntp1.unicornafk.fr.
    cname: dhcp1.unicornafk.fr.
    rdns: false
  - hostname: ntp2.unicornafk.fr.
    cname: dhcp2.unicornafk.fr.
    rdns: false
  - hostname: adminafk.unicornafk.fr.
    cname: website.unicornafk.fr.
    rdns: false
  - hostname: as212510.unicornafk.fr.
    cname: website.unicornafk.fr.
    rdns: false
  - hostname: lg.as212510.unicornafk.fr.
    cname: website.unicornafk.fr.
    rdns: false

exporter_exporter_name: powerdns-exporter
exporter_exporter_local_path_ca_certificate: "{{ certs_dir }}ca.crt"
exporter_exporter_local_path_certificate: "{{ certs_dir }}exporter/powerdns-exporter/client.crt"
exporter_exporter_local_path_certificate_key: "{{ certs_dir }}exporter/powerdns-exporter/client.pem"
exporter_exporter_nodes:
  - name: powerdns-recursor
    port: 8082
  - name: powerdns-authoritative
    port: 8081

nginx_configuration:
  - name: "{{ ansible_fqdn }}"
    locations:
      - location: /api/
        proxy_pass: "http://127.0.0.1:8081"
    enable_content_security: true
    http_redirection: false
    ssl_port: "443"
    local_path_ssl_certificate: "{{ certs_dir }}www/{{ ansible_fqdn }}/client.crt"
    local_path_ssl_certificate_key: "{{ certs_dir }}www/{{ ansible_fqdn }}/client.pem"
    server_name: "{{ ansible_fqdn }}"

nginx_exporter_local_path_ca_certificate: "{{ certs_dir }}ca.crt"
nginx_exporter_local_path_certificate: "{{ certs_dir }}exporter/nginx-exporter/client.crt"
nginx_exporter_local_path_certificate_key: "{{ certs_dir }}exporter/nginx-exporter/client.pem"