[Unit]
Description=kea-exporter allows you to get kea-dhcp metric using prometheus
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/local/bin/kea-exporter --interval 30 /tmp/kea-dhcp4-ctrl.sock /tmp/kea-dhcp6-ctrl.sock

[Install]
WantedBy=multi-user.target