[Unit]
Description=kea-exporter allows you to get kea-dhcp metric using prometheus
After=After=kea-ctrl-agent.service

[Service]
Type=simple
ExecStart=/opt/kea_exporter/venv/bin/kea-exporter --address localhost --port 9546 --interval 30 /tmp/kea-dhcp4-ctrl.sock /tmp/kea-dhcp6-ctrl.sock

[Install]
WantedBy=multi-user.target