{% for user in nut_users %}
[{{ user.name }}]
    password = {{ user.password }}
    {% if user.actions is defined %}actions = {{ user.actions }}{% endif %}
    {% if user.instcmds is defined %}instcmds = {{ user.instcmds }}{% endif %}
{% endfor %}