---
graylog:
  password_secret: 
  root_password:
  transport_email_hostname:
  transport_email_port:
  transport_email_use_auth:
  transport_email_auth_username:
  transport_email_auth_password:
  transport_email_subject_prefix:
  transport_email_use_tls:
  transport_email_use_ssl:
  transport_email_from_email: