[Unit]
Description=sync netbox with vcenter
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=/opt/vcenter-netbox-sync/venv/bin/python /opt/vcenter-netbox-sync/run.py

[Install]
WantedBy=multi-user.target