server:
  address: "{{ as212510_net_server.address }}"
  cwd: "{{ as212510_net_server.cwd }}"
mikrotik:
  address: "{{ as212510_net_mikrotik.address }}"
  username: "{{ as212510_net_mikrotik.username }}"
  password: "{{ as212510_net_mikrotik.password }}"