default:
    vsphere_host: "{{ vmware_exporter_vcenter_hostname }}"
    vsphere_user: "{{ vmware_exporter_vcenter_username }}"
    vsphere_password: "{{ vmware_exporter_vcenter_password }}"
    ignore_ssl: True
    specs_size: 5000
    fetch_custom_attributes: True
    fetch_tags: True
    fetch_alarms: True
    collect_only:
        vms: False
        vmguests: False
        datastores: True
        hosts: True
        snapshots: False