default:
    vsphere_host: "{{ vcenter.hostname }}"
    vsphere_user: "{{ vcenter.username }}"
    vsphere_password: "{{ vcenter.password }}"
    ignore_ssl: True
    specs_size: 5000
    fetch_custom_attributes: True
    fetch_tags: True
    fetch_alarms: True
    collect_only:
        vms: True
        vmguests: True
        datastores: True
        hosts: True
        snapshots: True