global:
  scrape_interval: 30s
  evaluation_interval: 30s


scrape_configs:
  - job_name: fping
    scrape_interval: 5s
    metrics_path: /probe
    file_sd_configs:
    - files:
      - fping/targets.json
    relabel_configs:
    - source_labels: [__address__]
      target_label: __param_target
    - source_labels: [__param_target]
      target_label: instance
    - target_label: __address__
      replacement: {{ inventory_hostname }}:9605

  - job_name: blackbox
    metrics_path: /probe
    params:
      module: [http_2xx]
    file_sd_configs:
    - files:
      - blackbox/targets.json
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: {{ inventory_hostname }}:9115

  - job_name: snmp
    file_sd_configs:
    - files:
      - snmp/targets.json
    metrics_path: /snmp
    params:
      module: [if_mib]
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: {{ inventory_hostname }}:9116

  - job_name: snmp_microtik
    file_sd_configs:
    - files:
      - snmp_microtik/targets.json
    metrics_path: /snmp
    params:
      module: [microtik]
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: {{ inventory_hostname }}:9116

  - job_name: snmp_brocade
    file_sd_configs:
    - files:
      - snmp_brocade/targets.json
    metrics_path: /snmp
    params:
      module: [brocade]
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: {{ inventory_hostname }}:9116

  - job_name: snmp_qnap
    file_sd_configs:
    - files:
      - snmp_qnap/targets.json
    metrics_path: /snmp
    params:
      module: [qnap]
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: {{ inventory_hostname }}:9116

  - job_name: snmp_unifi
    file_sd_configs:
    - files:
      - snmp_unifi/targets.json
    metrics_path: /snmp
    params:
      module: [ubiquiti_unifi]
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: {{ inventory_hostname }}:9116

  - job_name: snmp_vmware
    file_sd_configs:
    - files:
      - snmp_vmware/targets.json
    metrics_path: /snmp
    params:
      module: [vmware]
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: {{ inventory_hostname }}:9116

  - job_name: snmp_linux
    file_sd_configs:
    - files:
      - snmp_linux/targets.json
    metrics_path: /snmp
    params:
      module: [linux]
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: {{ inventory_hostname }}:9116

  - job_name: wireguard
    file_sd_configs:
    - files:
      - wireguard/targets.json

  - job_name: kea-dhcp
    file_sd_configs:
    - files:
      - kea_dhcp/targets.json

  - job_name: powerdns_authoritative
    scheme: https
    tls_config:
      insecure_skip_verify: true
    file_sd_configs:
    - files:
      - powerdns_authoritative/targets.json

  - job_name: powerdns_recursor
    scheme: https
    tls_config:
      insecure_skip_verify: true
    file_sd_configs:
    - files:
      - powerdns_recursor/targets.json

  - job_name: tplink_plug
    file_sd_configs:
    - files:
      - tplink_plug/targets.json
    metrics_path: /scrape
    relabel_configs:
      - source_labels : [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: {{ inventory_hostname }}:9233