global:
  scrape_interval: 30s
  evaluation_interval: 30s

alerting:
  alertmanagers:
  - static_configs:
    - targets:
      - localhost:9093
    scheme: http
    timeout: 10s

rule_files:
  - /etc/alertmanager/rules/*

scrape_configs:
  - job_name: fping
    scrape_interval: 5s
    metrics_path: /probe
    file_sd_configs:
    - files:
      - fping/targets.json
    relabel_configs:
    - source_labels: [__address__]
      target_label: __param_target
    - source_labels: [__param_target]
      target_label: instance
    - target_label: __address__
      replacement: {{ inventory_hostname }}:9605

  - job_name: blackbox
    metrics_path: /probe
    params:
      module: [http_2xx]
    file_sd_configs:
    - files:
      - blackbox/targets.json
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: {{ inventory_hostname }}:9115

  - job_name: vmware
    metrics_path: '/metrics'
    file_sd_configs:
    - files:
      - vmware_exporter/targets.json
    params:
      section: [default]
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: {{ inventory_hostname }}:9272

  - job_name: node_exporter
    metrics_path: '/metrics'
    scheme: https
    tls_config:
      cert_file: /etc/prometheus/certs/node-exporter/client.crt
      key_file: /etc/prometheus/certs/node-exporter/client.pem
      insecure_skip_verify: true
    file_sd_configs:
    - files:
      - node_exporter/targets.json

  - job_name: unifi_poller
    scrape_interval: 5s
    metrics_path: /scrape
    file_sd_configs:
    - files:
      - unifi_poller/targets.json
    relabel_configs:
    - source_labels: [__address__]
      target_label: __param_target
    - source_labels: [__param_target]
      target_label: instance
    - target_label: __address__
      replacement: {{ inventory_hostname }}:9130

  - job_name: snmp
    file_sd_configs:
    - files:
      - snmp/targets.json
    metrics_path: /snmp
    params:
      module: [if_mib]
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: {{ inventory_hostname }}:9116

  - job_name: snmp_microtik
    file_sd_configs:
    - files:
      - snmp_microtik/targets.json
    metrics_path: /snmp
    params:
      module: [microtik]
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: {{ inventory_hostname }}:9116

  - job_name: snmp_brocade
    file_sd_configs:
    - files:
      - snmp_brocade/targets.json
    metrics_path: /snmp
    params:
      module: [brocade]
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: {{ inventory_hostname }}:9116

  - job_name: snmp_qnap
    file_sd_configs:
    - files:
      - snmp_qnap/targets.json
    metrics_path: /snmp
    params:
      module: [qnap]
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: {{ inventory_hostname }}:9116

  - job_name: wireguard
    scheme: https
    tls_config:
      cert_file: /etc/prometheus/certs/wireguard-exporter/client.crt
      key_file: /etc/prometheus/certs/wireguard-exporter/client.pem
      insecure_skip_verify: true
    file_sd_configs:
    - files:
      - wireguard/targets.json
    metrics_path: /proxy
    params:
      module:
      - wireguard
    relabel_configs:
      - source_labels: [__param_target]
        target_label: instance

  - job_name: kea-dhcp
    scheme: https
    tls_config:
      cert_file: /etc/prometheus/certs/kea-exporter/client.crt
      key_file: /etc/prometheus/certs/kea-exporter/client.pem
      insecure_skip_verify: true
    file_sd_configs:
    - files:
      - kea_dhcp/targets.json
    metrics_path: /proxy
    params:
      module:
      - kea
    relabel_configs:
      - source_labels: [__param_target]
        target_label: instance

  - job_name: powerdns_authoritative
    scheme: https
    tls_config:
      cert_file: /etc/prometheus/certs/powerdns-exporter/client.crt
      key_file: /etc/prometheus/certs/powerdns-exporter/client.pem
      insecure_skip_verify: true
    file_sd_configs:
    - files:
      - powerdns_authoritative/targets.json
    metrics_path: /proxy
    params:
      module:
      - powerdns-authoritative
    relabel_configs:
      - source_labels: [__param_target]
        target_label: instance

  - job_name: powerdns_recursor
    scheme: https
    tls_config:
      cert_file: /etc/prometheus/certs/powerdns-exporter/client.crt
      key_file: /etc/prometheus/certs/powerdns-exporter/client.pem
      insecure_skip_verify: true
    file_sd_configs:
    - files:
      - powerdns_recursor/targets.json
    metrics_path: /proxy
    params:
      module:
      - powerdns-recursor
    relabel_configs:
      - source_labels: [__param_target]
        target_label: instance

  - job_name: tplink_plug
    file_sd_configs:
    - files:
      - tplink_plug/targets.json
    metrics_path: /scrape
    relabel_configs:
      - source_labels : [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: {{ inventory_hostname }}:9233