global:
  scrape_interval: 30s
  evaluation_interval: 30s


scrape_configs:
  - job_name: fping
    scrape_interval: 5s
    metrics_path: /probe
    static_configs:
    file_sd_configs:
    - files:
      - fping/*.json
    relabel_configs:
    - source_labels: [__address__]
      target_label: __param_target
    - source_labels: [__param_target]
      target_label: instance
    - target_label: __address__
      replacement: 127.0.0.1:9605

  - job_name: 'vmware_vcenter'
    metrics_path: '/metrics'
    static_configs:
      - targets:
        - 'vsphere.unicornafk.fr'
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: localhost:9272