{
  "rrsets": [
    {
      "name": "{{ item }}.",
      "changetype": "REPLACE",
      "records": [
        { "content": "{{ hostvars[groups[pdns_dns_group][0]].hostname }} admin.{{ hostvars[groups[pdns_dns_group][0]].hostname.split('.')[-3:]|join('.') }} {{ inception_date }} 10800 3600 604800 3600", "disabled": false }
      ],
      "ttl": "3600",
      "type": "SOA"
    },{
      "name": "{{ item }}.",
      "changetype": "REPLACE",
      "records": [
        {% for host in groups[pdns_dns_group] %}
        { "content": "{{ hostvars[host].hostname }}", "disabled": false }{% if not loop.last %},{% endif %}
        {% endfor %}
      ],
      "ttl": "3600",
      "type": "NS"
    }{% for host in pdns_records %}{% if host.hostname and item in host.hostname %},
    {
      "name": "{{ host.hostname }}",
      "changetype": "REPLACE",
      "records": [
        { "content": "{{ host.a }}", "disabled": false }
      ],
      "ttl": "3600",
      "type": "A"
    },{
      "name": "{{ host.hostname }}",
      "changetype": "REPLACE",
      "records": [
        { "content": "{{ host.aaaa }}", "disabled": false }
      ],
      "ttl": "3600",
      "type": "AAAA"
    }{% endif %}{% elif host.cname and item in host.hostname %},
    {
      "name": "lg.as212510.unicornafk.fr.",
      "changetype": "REPLACE",
        "records": [
          { "content": "website.unicornafk.fr.", "disabled": false }
        ],
        "ttl": 3600,
        "type": "CNAME"
    }{% endif %}{% if host.a and item in host.a|ipaddr("revdns") and host.rdns %},
    {
      "name": "{{ host.a|ipaddr('revdns') }}",
      "changetype": "REPLACE",
      "records": [
        { "content": "{{ host.hostname }}", "disabled": false }
      ],
      "ttl": "3600",
      "type": "PTR"
    }{% endif %}{% if host.aaaa and item in host.aaaa|ipaddr("revdns") and host.rdns %},
    {
      "name": "{{ host.aaaa|ipaddr('revdns') }}",
      "changetype": "REPLACE",
      "records": [
        { "content": "{{ host.hostname }}", "disabled": false }
      ],
      "ttl": "3600",
      "type": "PTR"
    }{% endif %}{% endfor %}
  ]
}