{
  "rrsets": [
    {
      "name": "{{ item }}.",
      "changetype": "REPLACE",
      "records": [
        { "content": "{{ hostvars[groups[powerdns_authoritative_dns_group][0]].hostname }} admin.{{ hostvars[groups[powerdns_authoritative_dns_group][0]].hostname.split('.')[-3:]|join('.') }} {{ inception_date }} 10800 3600 604800 3600", "disabled": false }
      ],
      "ttl": "3600",
      "type": "SOA"
    },{
      "name": "{{ item }}.",
      "changetype": "REPLACE",
      "records": [
        {% for host in groups[powerdns_authoritative_dns_group] %}
        { "content": "{{ hostvars[host].hostname }}", "disabled": false }{% if not loop.last %},{% endif %}
        {% endfor %}
      ],
      "ttl": "3600",
      "type": "NS"
    }{% for host in powerdns_authoritative_records %}{% if host.a is defined and item in host.hostname %},
    {
      "name": "{{ host.hostname }}",
      "changetype": "REPLACE",
      "records": [
        { "content": "{{ host.a }}", "disabled": false }
      ],
      "ttl": "3600",
      "type": "A"
    }{% endif %}{% if host.aaaa is defined and item in host.hostname %},
    {
      "name": "{{ host.hostname }}",
      "changetype": "REPLACE",
      "records": [
        { "content": "{{ host.aaaa }}", "disabled": false }
      ],
      "ttl": "3600",
      "type": "AAAA"
    }{% endif %}{% if host.cname is defined and item in host.hostname %},
    {
      "name": "{{ host.hostname }}",
      "changetype": "REPLACE",
        "records": [
          { "content": "{{ host.cname }}", "disabled": false }
        ],
        "ttl": 3600,
        "type": "CNAME"
    }{% endif %}{% if host.rdns and host.a is defined and item in host.a|ipaddr("revdns") %},
    {
      "name": "{{ host.a|ipaddr('revdns') }}",
      "changetype": "REPLACE",
      "records": [
        { "content": "{{ host.hostname }}", "disabled": false }
      ],
      "ttl": "3600",
      "type": "PTR"
    }{% endif %}{% if host.rdns and host.aaaa is defined and item in host.aaaa|ipaddr("revdns") %},
    {
      "name": "{{ host.aaaa|ipaddr('revdns') }}",
      "changetype": "REPLACE",
      "records": [
        { "content": "{{ host.hostname }}", "disabled": false }
      ],
      "ttl": "3600",
      "type": "PTR"
    }{% endif %}{% endfor %}
  ]
}