[Unit]
Description=Prometheus Exporter Exporter
After=network-online.target

[Service]
Type=simple
User=exporter-exporter
Group=exporter-exporter
WorkingDirectory=/etc/exporter_exporter
ExecStart=/usr/local/bin/exporter_exporter \
    -config.dirs=/etc/exporter_exporter/expexp.d/ \
    -web.listen-address=\
    -web.tls.listen-address=:9998 \
    -web.tls.cert=ssl/{{ exporter_exporter_certificate_name }} \
    -web.tls.key=ssl/{{ exporter_exporter_certificate_key_name }} \
    -web.tls.ca=ssl/ca.crt \
    -web.tls.verify
RestartSec=10
Restart=always

[Install]
WantedBy=multi-user.target