modules:
{% for node in exporter_exporter_nodes %}
  {{ node.name }}:
    method: http
    http:
       port: {{ node.port }}
{% if node.path is defined %}
       path: {{ node.path }}
{% endif %}
{% endfor %}