[Interface]
PrivateKey = {{ item.value.private_key }}
Address = {{ item.value.ipv4 }},{{ item.value.ipv6 }}
DNS = {{ groups[wireguard_dns_group]|join(',') }}, {% for host in groups[wireguard_dns_group] %}{{ hostvars[host].ipv6 }}{% if not loop.last %},{% endif %}{% endfor %}, {{ wireguard_domains|join(',') }}

[Peer]
PublicKey = {{ vpn_server_public_key.stdout }}
AllowedIPs = 0.0.0.0/0,::/0
Endpoint = {{ inventory_hostname }}:51820
PersistentKeepalive = 25