[Interface]
Address = {{ wireguard_server_ipv4 }},{{ wireguard_server_ipv6 }}
ListenPort = 51820
PrivateKey = {{ wireguard_server_private_key }}
PostUp = iptables -A FORWARD -i %i -j ACCEPT; ip6tables -A FORWARD -i %i -j ACCEPT; ip6tables -t nat -A POSTROUTING -o {{ ansible_default_ipv6.interface }} -j MASQUERADE; iptables -t nat -A POSTROUTING -o {{ ansible_default_ipv4.interface }} -j MASQUERADE
PostDown = iptables -D FORWARD -i %i -j ACCEPT; ip6tables -D FORWARD -i %i -j ACCEPT; ip6tables -t nat -D POSTROUTING -o {{ ansible_default_ipv6.interface }} -j MASQUERADE; iptables -t nat -D POSTROUTING -o {{ ansible_default_ipv4.interface }} -j MASQUERADE

{% for key, client in wireguard_clients.items() %}

[Peer]
# Name = {{ key }}
PublicKey = {{ client.public_key }}
PresharedKey = {{ client.preshared_key }}
AllowedIPs = {{ client.ipv4 }},{{ client.ipv6 }}

{% endfor %}
