[
  {
    "labels": {
      "job": "blackbox"
    },
    "targets": [
      "https://dns1.unicornafk.fr",
      "https://dns2.unicornafk.fr",
      "https://dhcp1.unicornafk.fr",
      "https://dhcp2.unicornafk.fr",
      "https://ipam.unicornafk.fr",
      "https://git.unicornafk.fr",
      "https://wiki.unicornafk.fr",
      "https://blog.unicornafk.fr",
      "https://unifi.unicornafk.fr:8443",
      "https://nas.unicornafk.fr"
    ]
  }
]