[
  {
    "labels": {
      "job": "blackbox"
    },
    "targets": [
      {% for target in blackbox_exporter_targets %}
      "{{ target }}"{% if not loop.last %},{% endif %}
      {% endfor %}
    ]
  }
]