# source : https://www.ssi.gouv.fr/uploads/2016/01/linux_configuration-fr-v1.2.pdf

-w /sbin/insmod   -p x
-w /sbin/modprobe -p x
-w /sbin/rmmod    -p x

-w /etc/ -p wa

-a exit,always -S mount -S umount2

-a exit,always -S ioperm -S modify_ldt

-a exit,always -S get_kernel_syms -S ptrace
-a exit,always -S prctl

-a exit,always -F arch=b64 -S unlink -S rmdir -S rename
-a exit,always -F arch=b64 -S creat -S open -S openat -F exit=-EACCESS
-a exit,always -F arch=b64 -S truncate -S ftruncate    -F exit=-EACCESS

-e 2