global(
preserveFQDN="on"
DefaultNetstreamDriver="gtls"
DefaultNetstreamDriverCAFile="/etc/rsyslog.d/ssl/ca.crt"
DefaultNetstreamDriverCertFile="/etc/rsyslog.d/ssl/client.crt"
DefaultNetstreamDriverKeyFile="/etc/rsyslog.d/ssl/client.pem"
)

# set up the action for all messages
action(
type="omfwd"
target="{{ rsyslog_server }}"
protocol="tcp"
port="{{ rsyslog_port }}"
StreamDriver="gtls"
StreamDriverMode="1" # run driver in TLS-only mode
StreamDriverAuthMode="x509/name"
StreamDriverPermittedPeers="{{ rsyslog_server }}"
)