[Unit]
Description=Uptime Kuma
After=network-online.target

[Service]
Type=simple
User=uptime_kuma
Group=uptime_kuma
WorkingDirectory=/var/www/uptime_kuma
Environment="NODE_ENV=production"
ExecStart=/usr/bin/node server/server.js
RestartSec=10
Restart=always

[Install]
WantedBy=multi-user.target