[Unit]
Description=Ghost blog

[Service]
Type=simple
WorkingDirectory=/var/www/ghost
User=idiotghost
Group=idiotghost
Environment="NODE_ENV=production"
ExecStart=/usr/bin/node /usr/bin/ghost run
Restart=always

[Install]
WantedBy=multi-user.target