[Unit]
Description=Ghost blog
After=network-online.target

[Service]
Type=simple
User=idiotghost
Group=idiotghost
WorkingDirectory=/var/www/ghost
Environment="NODE_ENV=production"
ExecStart=/usr/bin/node /usr/bin/ghost run
RestartSec=10
Restart=always

[Install]
WantedBy=multi-user.target