sentry:
  dsn: "{{ alertmanager_webhook_free_sentry.dsn }}"
server:
  address: "{{ alertmanager_webhook_free_server.address }}"
free:
  user: "{{ alertmanager_webhook_free_free.user }}"
  pass: "{{ alertmanager_webhook_free_free.pass }}"