[Unit]
Description=alertmanager_webhook_free Free SMS alerting
After=network-online.target

[Service]
User=alertmanager_webhook_free
Group=alertmanager_webhook_free
Type=simple
WorkingDirectory=/etc/alertmanager_webhook_free
ExecStart=/usr/local/bin/alertmanager-webhook-free -config=alertmanager_webhook_free.yml

[Install]
WantedBy=multi-user.target