[Unit]
Description=snmp-exporter allows you to get SNMP metric using prometheus
After=network-online.target

[Service]
Type=simple
User=prometheus
Group=prometheus
WorkingDirectory=/etc/snmp-exporter
ExecStart=/usr/local/bin/snmp-exporter \
    --web.listen-address="127.0.0.1:9116" \
    --config.file=snmp.yml

[Install]
WantedBy=multi-user.target