[Unit]
Description=Node Exporter
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/local/bin/node-exporter \
    --web.listen-address="localhost:9100" \
    --collector.textfile.directory="/opt/node_exporter/textfile_collector"
RestartSec=10
Restart=always

[Install]
WantedBy=multi-user.target