[Unit]
Description=Node Exporter
After=network-online.target

[Service]
Type=simple
WorkingDirectory=/etc/node-exporter
ExecStart=/usr/local/bin/node-exporter \
    --web.listen-address="127.0.0.1:9100"
RestartSec=10
Restart=always

[Install]
WantedBy=multi-user.target