[Unit]
Description=Node Exporter
After=network-online.target

[Service]
Type=simple
WorkingDirectory=/etc/node-exporter
ExecStart=/usr/local/bin/node-exporter --web.config="web-config.yml"

[Install]
WantedBy=multi-user.target