{
  "rrsets": [
    {
      "name": "{{ item }}.",
      "changetype": "REPLACE",
      "records": [
        { "content": "{{ hostvars[groups['dns'][0]].canonical_hostname }} admin.{{ hostvars[groups['dns'][0]].canonical_hostname.split('.')[-3:]|join('.') }} {{ inception_date }} 10800 3600 604800 3600", "disabled": false }
      ],
      "ttl": "3600",
      "type": "SOA"
    },{
      "name": "{{ item }}.",
      "changetype": "REPLACE",
      "records": [
        {% for host in groups['dns'] %}
        { "content": "{{ hostvars[host].canonical_hostname }}", "disabled": false }{% if not loop.last %},{% endif %}
        {% endfor %}
      ],
      "ttl": "3600",
      "type": "NS"
    }{% for host in records %}{% if item in host.canonical_hostname %},
    {
      "name": "{{ host.canonical_hostname }}",
      "changetype": "REPLACE",
      "records": [
        { "content": "{{ host.ipv4 }}", "disabled": false }
      ],
      "ttl": "3600",
      "type": "A"
    },{
      "name": "{{ host.canonical_hostname }}",
      "changetype": "REPLACE",
      "records": [
        { "content": "{{ host.ipv6 }}", "disabled": false }
      ],
      "ttl": "3600",
      "type": "AAAA"
    }{% endif %}{% endfor %}{% for host in records %}{% if item in host.ipv4|ipaddr("revdns") %},
    {
      "name": "{{ host.ipv4|ipaddr('revdns') }}",
      "changetype": "REPLACE",
      "records": [
        { "content": "{{ host.canonical_hostname }}", "disabled": false }
      ],
      "ttl": "3600",
      "type": "PTR"
    }{% endif %}{% endfor %}{% for host in records %}{% if item in host.ipv6|ipaddr("revdns") %},
    {
      "name": "{{ host.ipv6|ipaddr('revdns') }}",
      "changetype": "REPLACE",
      "records": [
        { "content": "{{ host.canonical_hostname }}", "disabled": false }
      ],
      "ttl": "3600",
      "type": "PTR"
    }{% endif %}{% endfor %}
  ]
}