[
  {
    "labels": {
      "job": "kasa"
    },
    "targets": [
      {% for target in tplink_plug_exporter_targets %}
      "{{ target }}"{% if not loop.last %},{% endif %}
      {% endfor %}
    ]
  }
]