apiVersion: kubeadm.k8s.io/v1beta2
kind: ClusterConfiguration
kubernetesVersion: stable
controlPlaneEndpoint: "{{ k8s_lb_ip }}:{{ k8s_lb_port }}"
etcd:
  external:
      endpoints:
{% for host in groups[k8s_etcd_group] %}
      - https://{{ host }}:2379
{% endfor %}
      caFile: /etc/kubernetes/pki/etcd/ca.crt
      certFile: /etc/kubernetes/pki/apiserver-etcd-client.crt
      keyFile: /etc/kubernetes/pki/apiserver-etcd-client.key