[
  {
    "labels": {
      "job": "fping"
    },
    "targets": [
      {% for target in fping_exporter_targets %}
      "{{ target }}"{% if not loop.last %},{% endif %}
      {% endfor %}
    ]
  }
]