[Unit]
Description=tplink-plug-exporter allows you to monitors tp link smartplugs
After=network-online.target

[Service]
Type=simple
User=prometheus
Group=prometheus
ExecStart=/usr/local/bin/tplink_plug_exporter -metrics.listen-addr 127.0.0.1:9233
RestartSec=10
Restart=always

[Install]
WantedBy=multi-user.target