---
postgresql_db:
postgresql_user:
postgresql_password:

netbox_postgresql_db:
netbox_postgresql_user:
netbox_postgresql_password:
netbox_superuser_email:
netbox_superuser_password:
netbox_secret_key:

netbox_sync_netbox_api_key:
netbox_sync_vcenter_username:
netbox_sync_vcenter_password: