[Unit]
Description=vmware-exporter allows you to get vmware metric using prometheus
After=network-online.target

[Service]
Type=simple
User=prometheus
Group=prometheus
WorkingDirectory=/etc/vmware_exporter
Environment=REQUESTS_CA_BUNDLE=/etc/ssl/certs/ca-certificates.crt
ExecStart=/opt/vmware_exporter/venv/bin/vmware_exporter -a 127.0.0.1 -c config.yml

[Install]
WantedBy=multi-user.target