zebra={% if frr_daemons.zebra %}yes{% else %}no{% endif %}

bgpd={% if frr_daemons.bgpd %}yes{% else %}no{% endif %}

ospfd={% if frr_daemons.ospfd %}yes{% else %}no{% endif %}

ospfd_instances={% if frr_daemons.ospfd %}{{ frr_daemons.ospfd_instances }}{% endif %}

ospf6d={% if frr_daemons.ospf6d %}yes{% else %}no{% endif %}

ripd={% if frr_daemons.ripd %}yes{% else %}no{% endif %}

ripngd={% if frr_daemons.ripngd %}yes{% else %}no{% endif %}

isisd={% if frr_daemons.isisd %}yes{% else %}no{% endif %}

pimd={% if frr_daemons.pimd %}yes{% else %}no{% endif %}

ldpd={% if frr_daemons.ldpd %}yes{% else %}no{% endif %}

nhrpd={% if frr_daemons.nhrpd %}yes{% else %}no{% endif %}

eigrpd={% if frr_daemons.eigrpd %}yes{% else %}no{% endif %}

babeld={% if frr_daemons.babeld %}yes{% else %}no{% endif %}

sharpd={% if frr_daemons.sharpd %}yes{% else %}no{% endif %}

staticd={% if frr_daemons.staticd %}yes{% else %}no{% endif %}

pbrd={% if frr_daemons.pbrd %}yes{% else %}no{% endif %}

bfdd={% if frr_daemons.bfdd %}yes{% else %}no{% endif %}

fabricd={% if frr_daemons.fabricd %}yes{% else %}no{% endif %}

#
# If this option is set the /etc/init.d/frr script automatically loads
# the config via "vtysh -b" when the servers are started.
# Check /etc/pam.d/frr if you intend to use "vtysh"!
#
vtysh_enable=yes
zebra_options=" -s 90000000 --daemon -A 127.0.0.1 -M snmp"
bgpd_options=" --daemon -A 127.0.0.1 -M snmp"
ospfd_options=" --daemon -A 127.0.0.1 -M snmp"
ospf6d_options=" --daemon -A ::1 -M snmp"
ripd_options=" --daemon -A 127.0.0.1"
ripngd_options=" --daemon -A ::1"
isisd_options=" --daemon -A 127.0.0.1"
pimd_options=" --daemon -A 127.0.0.1"
ldpd_options=" --daemon -A 127.0.0.1"
nhrpd_options=" --daemon -A 127.0.0.1"
eigrpd_options=" --daemon -A 127.0.0.1"
babeld_options=" --daemon -A 127.0.0.1"
sharpd_options=" --daemon -A 127.0.0.1"
staticd_options=" --daemon -A 127.0.0.1"
pbrd_options=" --daemon -A 127.0.0.1"
bfdd_options=" --daemon -A 127.0.0.1"
fabricd_options=" --daemon -A 127.0.0.1"

#MAX_FDS=1024
# The list of daemons to watch is automatically generated by the init script.
#watchfrr_options=""

# for debugging purposes, you can specify a "wrap" command to start instead
# of starting the daemon directly, e.g. to use valgrind on ospfd:
#   ospfd_wrap="/usr/bin/valgrind"
# or you can use "all_wrap" for all daemons, e.g. to use perf record:
#   all_wrap="/usr/bin/perf record --call-graph -"
# the normal daemon command is added to this at the end.