[Unit]
Description=fping-exporter allows you to run measure network latency using fping and prometheus
Wants=network-online.target
After=network-online.target

[Service]
User=prometheus
Group=prometheus
Type=simple
CapabilityBoundingSet=CAP_NET_RAW
AmbientCapabilities=CAP_NET_RAW
ExecStart=/usr/local/bin/fping-exporter \
    -f /usr/bin/fping \
    -p 300 \
    -c 5

[Install]
WantedBy=multi-user.target