[Unit]
Description=Oxidized - Network Device Configuration Backup Tool
After=network-online.target

[Service]
ExecStart=/usr/local/bin/oxidized
User=oxidized
Group=oxidized
KillSignal=SIGKILL
Environment="OXIDIZED_HOME=/etc/oxidized"
RestartSec=10
Restart=always

[Install]
WantedBy=multi-user.target